$body-background-color: #f7f5f3 ;
$items-background-color: $body-background-color;
$page-header-background-color:  #eeeae7;
$item-bg-color: transparent;
$brand-primary: #BD553A;
$max-page-width: 1400px;
$site-title-color: #010101;
$link-color: #060606;
$brand-primary: #060606;
$nav-link-color: $site-text-color;
$separator-width: 10px;
$side-padding: 20px;
$item-special-border-color: #856041;
$footer-height: 150px;
$newsItem-border-color: #d8cfcd;
$readmore-link-color: #BD553A;
$focus-color: #ff7a00;
$skipnav-background: #ffffff ;
$skipnav-border: $brand-primary ;
$callout-text-color: #ffffff ;
$font-family-general: Verdana, Arial, sans-serif ;
$font-family-headers: Verdana, Arial, sans-serif ;
$font-family-headers-bold: Verdana, Arial, sans-serif ;
$font-family-body: Verdana, Arial, sans-serif ;
$showshadow: true;